@font-face {
    font-family: DynaPuff;
    src: url(DynaPuff-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: Fredoka;
    src: url(Fredoka-VariableFont_wdth,wght.ttf);
}

::selection {
    background-color: #811657;
    color: #FFF9F0;
}

h1 {
    font-family: DynaPuff;
    color: #932568;
    font-size: 48px;
}

h2 {
    font-family: DynaPuff;
    color: #FFF9F0;
    font-size: 36px;
    margin: 0;
}

h3 {
    font-family: Fredoka;
    font-size: 24px;
    font-weight: normal;
}

h4 {
    font-family: Fredoka;
    color: #932568;
    font-size: 22px;
    margin: 0;
    padding-top: 0px;
    font-weight: normal;
    padding-top: 0px;
}

p {
    font-family: Fredoka;
    font-size: 18px;
    text-align: justify;
}

section{
    
}

body {
    margin: 0;
    background-color: #FFF9F0;
}

header{
    display:inline;
}

.topnav {
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #932568;
    color: #FFF9F0;
    overflow: hidden;
    overflow-x: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 100;
}

.section_1-1 {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 3%;
}

.section_1-3 {
    display: flex;
    float: left;
    width: 33%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.section_2-3 {
    display: flex;
    float: right;
    width: 66%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    flex-grow:1;
    position: relative;
}

.section_2-5 {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.section_3-5 {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

#warning {
    font-size: 16px;
    margin: 0;
    color: #811657;
    background-color: #FFBED8;
    padding-left: 15%;
}

button {
    background-color: #932568;
    color: #FFF9F0;
    text-align: center;
    display: inline-block;
    font-family: DynaPuff;
    font-size: 24px;
    width: 200px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #811657;
}

.sidebar_socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    right: 0;
    top: 40%;
    background-color: #932568;
    border-radius: 5px 0 0 5px;
    padding-top: 0.4rem;
}

#github_link_sidebar, #linkedin_link_sidebar{
    margin-left: auto;
    margin-right: auto;
}

#presentation {
    background-color: #FFBED8;
    height: 450px;
    scroll-margin-top: 200px;
    display: flex;
}

.avatar {
    justify-content: center;
    text-align: center;
    object-fit: contain;

    z-index: 50;
}

.avatar:hover {
    content: url('Loryn_Hi.png');
}

.text {
    margin: auto;
    display : flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #932568;
}

#presentation_name{
    margin-bottom: 0px;
}

#CV {
    position: absolute;
    bottom: 0;
}

#projects {
    scroll-margin-top: 130px;
}

.column {
    float: left;
    width: 30%;
    padding: 0 10px;
}

.project_card {
    text-align: center;
    background-color: #FFBED8;
    color: #932568;
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
    height: auto;
    overflow: auto;
    display:flex;
    flex-flow: row;
}

.project_card p {
    margin: 10px 0;
}

#FlowerGarden_title, #TicTacToe_title, #FakeItTillUMakeIt_title {
    height: initial;
    display: flex;
    flex-direction: column;
}

.illustration {
    padding: 10px;
    display: flex;
    object-fit: contain;
    justify-content: center;
    width: auto;
    height: auto;
}

.project_description_link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
}

.project_description {
    justify-content: center;
    text-align: center;
    overflow: auto;
}

.project_link {
    bottom: 0;
}

.project_link a, #CV a{
    background-color: #932568;
    color: #FFF9F0;
    text-decoration: none;
    font-family: DynaPuff;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    justify-self: center;
    padding: 1rem;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    overflow: auto;
    position: static;
    bottom:0;
}

    .project_link a:hover, #CV a:hover {
        background-color: #811657;
    }

#contact {
    scroll-margin-top: 130px;
}

form {
    font-family: DynaPuff;
    color: #932568;
    display: flex;
    justify-content: center;
    gap: 2%;
}
.form {
    width: 90%;
}

label {
    font-size: 24px;
    margin: 5px;
}

textarea, input {
    font-family: Fredoka;
    font-size: 20px;
    background-color: #FFBED8;
    color: #932568;
    width: 100%;
    border: none;
    padding: 1rem;
    resize: none;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

input{
    text-overflow: ellipsis;
}

#message-submit{
    margin: 0 15px;
    display: flex;
    height:auto;
}

#form_message{
    height: 100%;
    padding-bottom: 10px;
}

#form_message_textarea{
    height:70%;
}

#form_submit {
    margin: auto;
    width: auto;
}

#form_submit_button {
    padding: 1rem;
    border-radius: 5px;
    justify-self: center;
    margin-bottom: 25px;
}

#footer {
    background-color: #932568;
    padding: 1rem 15%;
    display: flex;
    color: #FFF9F0;
    justify-content: space-between;
    /*lien vers réseaux intéressant (github, artstation, linkedin)*/
}

.social_media{
    margin-right: 1%;
    display: flex;
    align-items: center;
}

.github_link, .linkedin_link, .itch_link {
    padding: 10px;
}
